<h1>Questions</h1>

<ul>
  <% @questions.each do |question| %>
    <li><%= question.title %></li>
    <%= link_to 'Delete',
                '/questions/' + question.to_param,
                method: :delete %>
  <% end %>
</ul>
