<div class="title_header">
  _question(s)
</div>

<fieldset>
  <div class="questions">
    <% @questions.each do |question| %>
    <div class="questions panel">
      <%= '> '%><%= link_to question.title, question_path(question) %>
    </div>
    <% end %>
  </div>
</fieldset>

<dl class="sub-nav">
  <dd class="active"><%= link_to '_new question', new_question_path %></dd>
</dl>

